{% extends 'base.html' %}
{% block content %}
<h1>//</h1>
<p>For a few years now, I've been an obsessive skier/mountaineer, any chance I have to go to the mountains, I take.</p>
<p>I spend most of my summers, planning my winters. I also love music and I play the guitar, my favourite</p>
<p>genre is midwest-emo, although the name doesn't suggest it, it's actually a very calm genre which focuses on</p>
<p>the nostalgic feelings of remembering graduating high school, moving out for collage, and that type of stuff,</p>
<p>which I, as a person my age of course very relate to. The bands are usually made up of a world's best guitarist and a</p>
<p>singer who can't sing.</p>
<h1>//</h1>
<div class="columns3">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/07ze5NHLFiNo2DF0uR5UDe?utm_source=generator" width="20%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/4fZzijiJrsa1UqUf4lCqrX?utm_source=generator&theme=0" width="20%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0cM1XvQRn89wXkEHAwGjKH?utm_source=generator" width="20%" height="100" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>
<div class="columns3" style="height: 507px;">
    <img class="pic" src="../static/images/IMG_0220(1).JPG" >
    <img class="pic" src="../static/images/IMG_1328.jpg" >
    <img class="pic" src="../static/images/IMG_6945.jpg" >
</div>
<h1>//</h1>
{% endblock %}