{% extends 'base.html' %}
{% block custom_head %}
<link rel="stylesheet" href={{url_for('static', filename="cards_styles.css")}}>
{% endblock %}
{% block content %}
<div class="card-container">
    <div class="ag-courses_box">
        {% for product in products %}
        <div class="ag-courses_item">
          <a href="/product/{{product.product_id}}" class="ag-courses-item_link">
            <div class="ag-courses-item_bg">
            </div>
            <div class="ag-courses-item_title">
              {{product.product_name}}
            </div>
            <div class="ag-courses-item_opinions-box">
              OPINION COUNT: <span class="ag-courses-item_date">{{product.opinions_count}} </span>
              AVG SCORE: <span class="ag-courses-item_date">{{product.average_count}}</span>
              
          </div>
            <div class="ag-courses-item_id-box">
                ID: <span class="ag-courses-item_date">{{product.product_id}}</span>
            </div>
          </a>
        </div>
    {% endfor%}
    </div>
</div>
    
{% endblock %}